<h1>Let's add a new animal</h1>
<hr>
<form action="/animals" method="post">
  <input type="text" placeholder="Name" name="name">
  <input type="text" placeholder="Diet" name="diet">
  <input type="submit" value="Add">
</form>
